/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
	}
}
@layer utilities {
	::selection {
		@apply bg-secondary;
	}

	.collapse-title, .collapse > input[type="checkbox"] {
		@apply min-h-fit;
	}

	.collapse-arrow .collapse-title::after {
		top: 1em;
	}

	.footnotes {
		font-size: .9rem;
		@apply mt-0 pt-0 pb-12 mb-12
	}

	hr {
		@apply bg-gray-200
	}

	.prose :not(:where(h1, h2, h3, h4, h5, h6)) :where(a):not(:where([class~="not-prose"] *)) {
		@apply text-primary underline hover:no-underline
	}

	.prose :where(h1, h2, h3, h4, h5, h6) :where(a):not(:where([class~="not-prose"] *)) {
		@apply no-underline hover:underline
	}
}